<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Consul" version="0.7.2.1" targetFramework="net462" />
  <package id="Nanophone.Core" version="1.7.0-alpha" targetFramework="net462" />
  <package id="Nanophone.RegistryHost.ConsulRegistry" version="1.7.0-alpha" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="SemanticVersioning" version="0.8.0" targetFramework="net462" />
</packages>